.window {
    color: purple;
}

.sysInfo {
    color: black;
}

.Media-Title{

}
 
.Media-Image {
 
}
 
.menu-item-hover {
    color: white;
    background-color: black;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
 
.Scroll-Window {
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
    background-color: black; 
}
 
.Submenu{
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
    background-color: white;
}