.window {
    background-color: #1e1e2f;
    color: #f8f8f2;
    border:3px solid #44475a;
    border-radius: 15px;
}

.Separators {
    background-color: white;
    min-height: 2px;
    margin: 20px;
    border-radius: 1px;
}

.Submenu-Button {
    color: white;
}

.sysInfo {
    color: #d0d0d0;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.Media-Title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 5px;
}

.Media-Image {
    border-radius: 9px;
    margin: 5px;
    border: 2px solid #44475a;
    border-radius: 40px;
}

.App-Info {
    color: #f8f8f2;
    padding: 15px;
    border-radius: 10px;
}

.App-List-selected-row {
    background: linear-gradient(135deg, #8a2be2 0%, #4b0082 100%);
    color: white;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    outline: none;
}

.App-List {
    background-color: #282a36;
    color: #f8f8f2;
    border: 2px solid #44475a;
}

.App-Search {
    background-color: #3b3f51;
    border-radius: 8px;
    padding: 5px;
    border: none;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 2px solid #44475a;
}

.App-Search:focus {
    color: white;
    background-color: #4e5266;
    border: 1px solid #6272a4;
    box-shadow: 0 0 5px rgba(98, 114, 164, 0.5);
}

.App-Search > image,
.App-Search > icon.primary {
    color: white;
}

.menu-item-hover {
    border-radius: 12px;
    color: #ffffff;
    background-color: #ff79c6;
    animation: gradient_f 20s ease-in infinite;
    transition: background-color 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

.menu-item-hover:hover {
    background-color: #bd93f9;
}

.Scroll-Window {
    background-color: #1e1e2f;
    border-radius: 10px;
}

.Submenu {
    background-color: #2e2e3e;
    color: #f8f8f2;
    border-radius: 10px;
    border:3px solid #44475a;
}