@import url("file:///home/naturalcapsule/.cache/wal/colors-waybar.css");

.window {
    color: @color1;
    background-color: @color4;
}

.sysInfo {
    color: black;
}

.Media-Title{

}

.Media-Image {

}

.menu-item-hover {
    color: white;
    background-color: @color1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);

}
.Scroll-Window {
    background-color: @color4;

}

.Submenu{
    background-color: @color4;
}